################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HLA_NoVRLauncher_Avalonia/.vs
/HLA_NoVRLauncher_Avalonia/bin/Debug/net10.0
/HLA_NoVRLauncher_Avalonia/obj
/HLA_NoVRLauncher_Avalonia/bin/Release/net10.0
